*.swp
.DS_Store
*.pyc
__pycache__
*.egg-info
/dist/
/html/
/*.gif

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history